$primary: #20e7c6;
$success: #35d874;
$callout-info: #1986a5;
$callout-primary: $success;
$callout-danger: #d83535;


.callout{
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
};

.callout-info{
    border-left-color: $callout-info;
}

.callout-primary{
    border-left-color: $callout-primary;
}

.callout-danger{
    border-left-color: $callout-danger;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
