.header{
    position: relative;
    top: -30px;
}

.links{
    position: relative;
    top: 20px;
}

/* .screenshot-img, .calander, .user-img{
    position: relative;
}

.screenshot-img{
    top: 10px;
    left: -30%;
}

.calander, .user-img{
    left: 20%;
    top: 10px;
}

.user-img{
    margin-left: 10px;
} */